<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：最主要的作用就是绑定mapper.xml与对应那个Mapper接口的关系，要求接口名称为：全限定名 -->
<mapper namespace="com.example.lyhfirstproject.mapper.UserMapper">

    <!--    <select id="selectAll"  resultMap="findP_C">-->
    <!--        select * from user a left join department b on a.dept_id = b.id-->
    <!--    </select>-->



    <!--    <select id="selectById" resultType="com.example.cjhfirstproject.entity.User">-->
    <!--        select * from user where id=#{id}-->
    <!--    </select>-->

    <!--    <insert id="insertToUser" useGeneratedKeys="true" keyProperty="id">-->
    <!--        insert into user(user_name,password) values(#{userName},#{password})-->
    <!--    </insert>-->

    <!--    <update id = "update">-->
    <!--        update user set user_name=#{userName},password=#{password} where id=#{id}-->
    <!--    </update>-->

    <!--    <delete id="delete">-->
    <!--        delete from user where id=#{id}-->
    <!--    </delete>-->
</mapper>